<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://unpkg.com/vue"></script> 
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <div class="container">
      <form v-on:submit.prevent="addTodo">
        <input type="text" v-model="newTodoText" placeholder="My new task"class="newTodoInput"/>
      </form>
      
      <div v-for="(todo, i) in todos" v-if="withDone || !todo.done" class="todo">
        <input type="checkbox" v-model="todo.done" class="checkbox">
        <p>{{todo.content}}</p>
        <button v-on:click="del(todo, i)">del</button>
      </div>

      <input v-model="withDone" type="checkbox" class="checkbox withdone-checkbox" id="withDone">
      <label for="withDone" class="withdone-label">With done</label>
    </div>
  </div>
  <script src="main.js"></script>
</body>
</html>