html, body {
  margin: 0;
  padding: 0;
}

body {
  padding: 4px;
}

.container {
  padding: 8.33%; 
  color: #55763d;
  border-color: #55763d;
}

button {
  background-color: #55763d;
  color: #fff;
  border-radius: 3px;
  border: none;
  height: 32px;
  width: 50px;
}

.todo {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 16px;
  position: relative;
  left: 0;
  top: 0;
  -webkit-transition: left 0.5s; /* Safari */
  transition: left 0.5s;
}

.todo.done {
  left: -1000px;
}

.todo:after {
  content: '';
  width: 100%;
  height: 1px;
  display: inline-block;
  background-color: #55763d;
}

.newTodoInput {
  width: 100%;
  border-style: solid;
  font-size: 20px;
  padding: 8px;
  border-radius: 3px;
  border-width: 1px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.checkbox {
  width: 32px;
  height: 32px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #55763d;
}
.withdone-checkbox {
  display: inline-block;
}
